{% load blog_tags %}
<br/>
<div class="row">
<div class="col-md-12">
{% if object_list.count %}
{# <div class="pagination"> #}
        <span class="step-links">
            {% if page_obj.has_previous %}
                {% comment %}<link rel="prev" href="https://www.movingauthority.com{{ page.get_absolute_url }}?page={{ page_obj.previous_page_number }}">{% endcomment %}
                <a href="{{ request.path|base_url_for_pagination:view }}/{{ page_obj.previous_page_number }}">Previous</a>&nbsp;&nbsp;
            {% endif %}
            <span style="padding: 20px;">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                &nbsp;&nbsp;
                <a href="{{ request.path|base_url_for_pagination:view }}/{{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
{#</div>#}
{% else %}
No items found..
{% endif %}
</div>
</div>
